  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('photos/body.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
  }

h1 {
    color: white ;
    text-align: center;
    font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}





.content h1 {
  margin-bottom: 150px; /* Добавляет отступ снизу текста */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.gallery-item {
  width: 180px;              /* ← ОДИНАКОВЫЙ размер */
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: 180px;             /*  одинаковая высота */
  object-fit: contain;       /* не растягивает, НЕ обрезает */
  border-radius: 20px;       /*  скругление */
  background: white;         /* красиво на красном фоне */
}

.gallery-item figcaption {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
    font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}






